{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Start Gallery -->
<section id="mu-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-gallery-area">
                    <div class="mu-title">
                        <span class="mu-subtitle">Discover</span>
                        <h2>Our Gallery</h2>
                        <i class="fa fa-spoon"></i>
                        <span class="mu-title-bar"></span>
                    </div>
                    <div class="mu-gallery-content">
                        <div class="mu-gallery-top">
                            <!-- Start gallery menu -->
                            <ul>
                                <li class="filter active" data-filter="all">ALL</li>
                                <li class="filter" data-filter=".Food">FOOD</li>
                                <li class="filter" data-filter=".Drink">DRINK</li>
                                <li class="filter" data-filter=".Restaurant">RESTAURANT</li>
                                <li class="filter" data-filter=".Dinner">DINNER</li>
                                <li class="filter" data-filter=".Dessert">DESSERT</li>
                            </ul>
                        </div>
                        <!-- Start gallery image -->
                        <div class="mu-gallery-body" id="mixit-container">
                            <!-- start single gallery image -->
                            {% for x in galleries %}
                            <div class="mu-single-gallery col-md-4 mix {{ x.type }}">
                                <div class="mu-single-gallery-item">
                                    <figure class="mu-single-gallery-img">
                                        <a href="{{ x.img.url }}"><img alt="img"
                                                src="{{ x.img.url }}"></a>
                                    </figure>
                                    <div class="mu-single-gallery-info">
                                        <a href="{{ x.img.url }}"
                                            data-fancybox-group="gallery" class="fancybox">
                                            <img src="{{ x.img.url }}" alt="plus icon img">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- End single gallery image -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Gallery -->

{% endblock %}