{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Pre Loader -->
<div id="aa-preloader-area">
<div class="mu-preloader">
    <img src="{% static 'assets/img/preloader.gif' %}" alt="loader img">
</div>
</div>
<!--START SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#">
    <i class="fa fa-angle-up"></i>
    <span>Top</span>
</a>
<!-- END SCROLL TOP BUTTON -->

<!-- Start slider  -->
<section id="mu-slider">
    <div class="mu-slider-area">
        <!-- Top slider -->
        <div class="mu-top-slider">
            <!-- Top slider single slide -->
            <div class="mu-top-slider-single">
                <img src="{% static 'assets/img/slider/1.jpg' %}" alt="img">
                <!-- Top slider content -->
                <div class="mu-top-slider-content">
                    <span class="mu-slider-small-title">Welcome</span>
                    <h2 class="mu-slider-title">TO THE SPICYX</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque voluptatem accusamus non quidem,
                        deleniti optio.</p>
                    <a href="#" class="mu-readmore-btn">READ MORE</a>
                </div>
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
            <!-- Top slider single slide -->
            <div class="mu-top-slider-single">
                <img src="{% static 'assets/img/slider/2.jpg' %}" alt="img">
                <!-- Top slider content -->
                <div class="mu-top-slider-content">
                    <span class="mu-slider-small-title">The Real</span>
                    <h2 class="mu-slider-title">GREEN FOODS</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque voluptatem accusamus non quidem,
                        deleniti optio.</p>
                    <a href="#" class="mu-readmore-btn">READ MORE</a>
                </div>
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
            <!-- Top slider single slide -->
            <div class="mu-top-slider-single">
                <img src="{% static 'assets/img/slider/3.jpg' %}" alt="img">
                <!-- Top slider content -->
                <div class="mu-top-slider-content">
                    <span class="mu-slider-small-title">Delicious</span>
                    <h2 class="mu-slider-title">SPICY MASALAS</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque voluptatem accusamus non quidem,
                        deleniti optio.</p>
                    <a href="#" class="mu-readmore-btn">READ MORE</a>
                </div>
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
        </div>
    </div>
</section>
<!-- End slider  -->

<!-- Start Counter Section -->
<section id="mu-counter">
    <div class="mu-counter-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-counter-area">
                        <ul class="mu-counter-nav">
                            <li class="col-md-3 col-sm-3 col-xs-12">
                                <div class="mu-single-counter">
                                    <span>Fresh</span>
                                    <h3><span class="counter">55</span><sup>+</sup></h3>
                                    <p>Breakfast Items</p>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-3 col-xs-12">
                                <div class="mu-single-counter">
                                    <span>Delicious</span>
                                    <h3><span class="counter">130</span><sup>+</sup></h3>
                                    <p>Lunch Items</p>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-3 col-xs-12">
                                <div class="mu-single-counter">
                                    <span>Hot</span>
                                    <h3><span class="counter">35</span><sup>+</sup></h3>
                                    <p>Coffee Items</p>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-3 col-xs-12">
                                <div class="mu-single-counter">
                                    <span>Satisfied</span>
                                    <h3><span class="counter">3562</span><sup>+</sup></h3>
                                    <p>Customers</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Counter Section -->

<!-- Start Subscription section -->
<section id="mu-subscription">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-subscription-area">
                    <form class="mu-subscription-form">
                        <input type="text" placeholder="Type Your Email Address">
                        <button class="mu-readmore-btn" type="Submit">SUBSCRIBE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Subscription section -->

<!-- Start Client Testimonial section -->
<section id="mu-client-testimonial">
    <div class="mu-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-client-testimonial-area">
                        <div class="mu-title">
                            <span class="mu-subtitle">Testimonials</span>
                            <h2>What Customers Say</h2>
                            <i class="fa fa-spoon"></i>
                            <span class="mu-title-bar"></span>
                        </div>
                        <!-- testimonial content -->
                        <div class="mu-testimonial-content">
                            <!-- testimonial slider -->
                            <ul class="mu-testimonial-slider">
                                <li>
                                    <div class="mu-testimonial-single">
                                        <div class="mu-testimonial-info">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
                                                consequuntur ducimus cumque iure modi nesciunt recusandae eligendi vitae
                                                voluptatibus, voluptatum tempore, ipsum nisi perspiciatis. Rerum
                                                nesciunt fuga ab natus, dolorem?</p>
                                        </div>
                                        <div class="mu-testimonial-bio">
                                            <p>- David Muller</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="mu-testimonial-single">
                                        <div class="mu-testimonial-info">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
                                                consequuntur ducimus cumque iure modi nesciunt recusandae eligendi vitae
                                                voluptatibus, voluptatum tempore, ipsum nisi perspiciatis. Rerum
                                                nesciunt fuga ab natus, dolorem?</p>
                                        </div>
                                        <div class="mu-testimonial-bio">
                                            <p>- David Muller</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="mu-testimonial-single">
                                        <div class="mu-testimonial-info">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
                                                consequuntur ducimus cumque iure modi nesciunt recusandae eligendi vitae
                                                voluptatibus, voluptatum tempore, ipsum nisi perspiciatis. Rerum
                                                nesciunt fuga ab natus, dolorem?</p>
                                        </div>
                                        <div class="mu-testimonial-bio">
                                            <p>- David Muller</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Client Testimonial section -->

<!-- Start Map section -->
<section id="mu-map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9207.358598888495!2d-85.64847801496286!3d30.183918972289003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x2320479d70eb6202!2sDillard&#39;s!5e0!3m2!1sbn!2sbd!4v1462359735720"
        width="10" height="10" frameborder="0" allowfullscreen></iframe>
</section>
<!-- End Map section -->
{% endblock %}